{
  "presets": [
    "env"
  ],
  "plugins": [
    "babel-plugin-transform-runtime",
    "babel-plugin-root-import",
    "syntax-object-rest-spread",
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}